/* CSS */
.button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px 40px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.button--primary{
  background-color: var(--color-primary-400);
}
.button--warn{
  color: var(--color-warn-400);
  background-color: var(--color-grey-100);
  border: 2px solid var(--color-warn-400);
}
.button--link{
  color: var(--color-primary-500);
  background-color: var(--color-grey-100);
  border: 1px solid var(--color-grey-400);
}

.button--primary:hover,
.button--primary:focus { 
  background-color: var(--color-primary-500);
  color: #ffffff;
}

.button--warn:hover,
.button--warn:focus { 
  background-color: var(--color-warn-500);
  color: #ffffff;
}


.button-primary:active {
  background: var(--color-primary-600);
  color: rgb(255, 255, 255, .7);
}
.button-warn:active {
  background: var(--color-warn-600);
  color: rgb(255, 255, 255, .7);
}

.button-primary:disabled { 
  cursor: not-allowed;
  background: var(--color-primary-600);
  color: var(--color-grey-700);
}
.button-warn:disabled { 
  cursor: not-allowed;
  background: var(--color-warn-700);
  color: var(--color-grey-700);
}

