@import url('reset.css');
@import url('color.css');
@import url('typography.css');
@import url('button.css');

/* Base Typography Styles */
body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);

}
p {
  font-size: var(--fs-md);
  line-height: var(--line-height-normal);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  color: green;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

/* Paragraphs */
p {
  font-size: var(--fs-md);
  line-height: var(--line-height-normal);
}

/* Other Elements */
a {
  font-weight: var(--fw-medium);
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}