body {
  padding: 16px 24px;
}
.field-value  {
  display: flex;
  flex-wrap: nowrap;
  gap: 0 8px;
  align-items: center;
}
.field-value span:nth-child(1) {
  white-space: nowrap;
}
.field-value span:nth-child(2) {
  white-space: nowrap;
}
.wrap--center {
  display: flex;
  justify-content: center;
}

.page__content {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}
.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview__left-column {
  flex: 1 1;
}
.overview__right-column {
  flex: 2 1;
  display: flex;
  gap: 0 14px;
}

.overview__left-column__header{
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}
.overview__left-column__content {
  font-size: var(--fs-sm);
}
.overview__left-column__content .field-value span:nth-child(1){
  color: var(--color-grey-400);
}
.overview__left-column__content .field-value span:nth-child(2){
  font-weight: var(--fw-bold);
}
.overview__right-column .field-value span:nth-child(1) {
  font-size: var(--fs-sm);
  color: var(--color-primary-500)
}
.overview__right-column .field-value span:nth-child(2) {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--color-primary-500)
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  color: var(--color-primary-500);
  
}

.table tr {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.table td {
  padding: 8px 24px;
  text-align: left;
  white-space: nowrap; 
}

.table td.collapse {
  padding: 8px 8px;
}

.table td.account {
  color: var(--color-primary-400);
  font-weight: var(--fw-bold);
}
.table td.operation {
  text-transform: capitalize;
  font-weight: var(--fw-bold);
}
table td.symbol {
  font-weight: var(--fw-bold);
}
.table td.qty {
  text-align: right;
}
.table td.filledQty {
  text-align: right;
}

.table td.status {
  text-transform: capitalize;
}


.table th {
  cursor: pointer;
  position: relative;
}

.chevron {
  margin-left: 8px;
  font-size: 10px;
}

.table th.sorted-ascending:after {
  opacity: 1;
  transform: translateY(-50%) rotate(180deg);
}

.table th.sorted-descending:after {
  opacity: 1;
}
.table thead th:hover{
  background-color: var(--color-grey-200);
}
.table tbody tr:hover {
  background-color: var(--color-grey-200);
}

.expanded-row .expanded-row__header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--color-primary-400);
  font-weight: var(--fw-bold);
}
.expanded-row__header--right {
  display: flex;
  gap: 0 8px;
}
.expanded-row__content {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.expanded-row__content__data {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px 16px;
}

.expanded-row__content__data .field-value span:nth-child(2){
  font-weight: var(--fw-bold);
}
.warning {
  border-radius: 8px;
  padding: 8px;
  background-color: var(--color-grey-200);
}
.warning__header {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}
.warning__content {
  font-size: var(--fs-sm);
}
.horizontal-line {
  border-top: 1px solid var(--color-grey-200);
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .overview {
    flex-direction: column;
    align-items: baseline;
  }
  .overview__left-column {
    flex: 1 1;
  }
  .overview__right-column {
    flex: 2 1;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  .table th.description,
  .table td.description,
  .table th.qty,
  .table td.qty,
  .table th.filledQty,
  .table td.filledQty,
  .table th.price,
  .table td.price,
  .table th.dateTime,
  .table td.dateTime,
  .table th.expiration,
  .table td.expiration,
  .table th.noRef,
  .table td.noRef,
  .table th.extRef,
  .table td.extRef
  {
    display: none;
  }
}
